*{
    box-sizing: border-box;
}

:root{
    --main-color: #121212;
    --search-color: #DEDEDE;
    --search-color-border: #bebebe;
}

body{
    margin: auto;
    margin-top: 40px;
    max-width: 900px;
    font-family: "Roboto", sans-serif;
    color: var(--main-color);
}

a{
    color: var(--main-color);
    text-decoration: none;
}

.img_inv{
    filter: invert(1);
}