*{
    box-sizing: border-box;
}

:root{
    --main-color: #121212;
}

body{
    margin: auto;
    margin-top: 40px;
    max-width: 900px;
    font-family: "Roboto", sans-serif;
    color: var(--main-color);
}

a{
    color: var(--main-color);
    text-decoration: none;
}